<!-- header.tmpl -->
{{ define "header" }}
<header>
    <!-- Navbar (logo, home, top list, profile, and search buttons as images) -->
    <nav>
        <div class="navbar-container">
            <a href="/" title="Go to front page" id="logo-pagename">
                <img class="logo" src="/res/img/a_logo.png" alt="RapidArt Logo">
                <p>RapidArt</p>
            </a>
            <div class="nav-icons">
                <a id="nav-home" href="/" class="nav-item">
                    <img src="/res/icon/house-fill.svg" alt="Home Icon">
                    <span class="nav-text">Home</span>
                </a>
                <a id="nav-search" href="/search/" class="nav-item">
                    <img src="/res/icon/search.svg" alt="Search Icon">
                    <span class="nav-text">Search</span>
                </a>
                <a id="nav-toplist" href="/toplist/" class="nav-item">
                    <img src="/res/icon/award-fill.svg" alt="Top List Icon">
                    <span class="nav-text">Top List</span>
                </a>
                <a id="nav-profile" href="/profile/" class="nav-item">
                    <img src="/res/icon/person-circle.svg" alt="Profile Icon">
                    <span class="nav-text">Profile</span>
                </a>
            </div>
        </div>
    </nav>
</header>
{{ end }}
