/* header.css */

/* NAVBAR/HEADER & LOGO */
nav {
    display: flex;
    justify-content: center;
    background-color: #a3b7be;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

img.logo {
    height: 100%;
}
#logo {
    height: 100px;
}

.nav-icons {
    display: flex;
    align-items: center;
}

.nav-item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 160px;
    height: 60px;
}

.nav-item img {
    width: 30px;
    height: 30px;
    display: block;
}



.nav-text {
    display: inline-block;
    font-size: 22px;
    color: black;
    margin-left: 10px;
}

.logo img {
    display: inline-block;
}


/* Only on mobile */
@media (min-width: 768px) {
    .nav-item:hover {
        background-color: #c1d6de;
        border-radius: 30px;
    }
}


/* Only on desktop */
@media (max-width: 768px) {
    nav {
        padding: 20px 0;
        bottom: 0;
        top: initial;
    }
    .navbar-container {
        width: 85%;
    }
    
    .nav-icons {
        justify-content: space-between;
        width: 100%;
    }
    .nav-item {
        width: auto;
        justify-content: cen;
    }
    .nav-item img {
        height: 45px;
        width: 45px;
    }
    #logo {
        display: none;
    }
    .nav-text {
        display: none;
    }
}
