
main {
    margin:0;
    height:100vh; /* use 100% of the height of the viewport */
    display:grid;             
    place-items: center;
}

.login-box{
    width: 85%;
    border-radius: 20px;
    background-color: white;
    padding: 30px;
    box-shadow: 5px 10px 18px #88888888;
}
body {
    background-color: #a3b7be;
}
h1{
    font-size: 16px;
    margin-bottom: 15px;
    color:#0b2da0;
}
h2{
    font-size: 32px;
    margin-bottom: 5px;
    color: #0b2da0;
}
label {
    color: rgb(78, 78, 78);
}
input {
    width: 100%;
}
img.logo-small {
    margin-bottom: 5px;
    height: 100px;
    width: 100x;
    border-radius: 50%;
}
form{
    margin-bottom: 10%;
}
.button {
    background-color: #ad2eff;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 2px;
}
.button:hover {
    background-color: #bb55ff;
    cursor: pointer;
}


@media only screen and (min-width: 768px) {
    .login-box{
        width: 400px;
    }
}
