@import url('header.css');

/* BODY */
body {
    background-color: #f0f0f0;
}

/* Post Section */
.post {
    text-align: center;
    padding: 80px 20px;
    margin-top: 60px;
}

.post-container {
    margin: 0 auto;
}

.post-image {
    width: 95%;
    max-width: 1050px;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.feed-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.feed-icons img:hover {
    transform: scale(1.05);
}

.like-icon, .report-icon {
    width: 30px;
    margin: 0 10px;
}

.nav-button {
    margin: 0 10px;
}

.nav-icon {
    width: 30px;
    height: 30px;
}

/* Comment Section */
.comments-section {
    margin-top: 20px;
}

.comment-input {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.comments-section textarea {
    width: 80%;
    max-width: 800px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    resize: none;
}

.post-button {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #a3b7be;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

.post-button:hover {
    background-color: #8da8a9;
}

.comments-list {
    text-align: left;
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
}

.comment {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
}

/* PC justeringer */
@media (min-width: 768px) {
    .comments-section textarea {
        width: 60%;
    }

    .post-image {
        max-width: 800px;
    }
}

/* Mobil justeringer */
@media (max-width: 768px) {
    .post {
        padding: 20px 0;
        margin-top: 0;
    }

    .comments-section {
        padding-bottom: 50px;
    }
}
