@import url('header.css');
@import url('partials/post-top-info.css');

/* BODY */
body {
    background-color: #f0f0f0;
}
main {
    margin-bottom: 100px;
}





#post-img-wrapper {
    cursor: pointer;
}
#post-img-wrapper img {
    width: 100%;
    box-shadow: 5px 10px 18px #b8b8b836;
    background-color: white;
    border-radius: 10px;
}


#bottom-info {
    margin: 15px;
}

#interaction-bar {
    display: flex;
    align-items: center;
}
#interaction-bar>* {
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
#interaction-bar p {
    margin: 0 0 0 5px;
}
#interaction-bar a {
    color: black;
    text-decoration: none;
}

#report-wrapper {
    margin-left: auto !important; /* Align to the right*/
    margin-right: 0px !important;
}

img.interaction-icon {
    width: 35px;
    height: 35px;
}
img#interaction-icon-comment {
    margin-top: -4px; /* Looks better */
}



/* CAPTION */
#caption p {
    font-size: 20px;
}
#caption a {
    text-decoration: none;
    color: black;
}



/* COMMENT */
textarea.comment {
    display: block;
    width: 100%;
    height: 100px;
    border-radius: 3px;
    border: 1px solid grey;
    font-size: 16px;
    resize: none;
}
button.post-comment {
    float: right;
    width: 100px;
    margin: 0;
    background-color: #ad2eff;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 2px;
}
button.post-comment:hover {
    background-color: #bb55ff;
    cursor: pointer;
}





@media (min-width: 768px) {
    main {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }
    section.post {
        max-width: 700px !important;
    }
}
