@import url('header.css');
@import url('partials/post-3-list.css');
@import url('partials/post-indicators.css');

body {
    margin: 0;
    background-color: #a3b7be;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    padding-bottom: 100px;
    min-height: 100vh; /* Height is minimum 100% of browser window height */
    background-color: #f0f0f0;
    border-radius: 5px 5px 0 0;
}

#profile-box {
    width: 95%;
}

/* -- Profile info box -- */
.profile-info-box {
    display: flex;
    position: relative; /* Used for relative positioning out of normal flow */
    flex-direction: column;
    align-items: center;
    padding-top: calc(150px - 80px); /* Image height - vertical offset */
}

.profile-info-box img.profile-pic {
    position: absolute; /* Absolute in relative container means this item can be positioned relatively, but won't appear in normal flow */
    width: 150px; /* Remember to update padding-top in parent */
    height: 150px;
    top: -80px; /* Remember to update padding-top in parent */
    border: 8px solid #f0f0f0;
    border-radius: 50%; /* Make round */
    object-fit: cover; /* Crop if not 1:1 */
}

h1#displayname {
    margin-bottom: 0;
}
p#username {
    margin-top: 0;
    font-size: 20px;
    color: rgb(110, 110, 110);
}

button {
    background-color: #ad2eff;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    border-radius: 2px;
    height: 42px;
    margin-right: 10px !important;
}
button:hover {
    background-color: #bb55ff;
    cursor: pointer;
}
button>img {
    float: left;
    height: 100%;
    margin-right: 10px;
    color: white;
}
button#follow:hover {
    background-color: green;
}
button#unfollow {
    background-color: green;
}
button#unfollow:hover {
    background-color: red;
}

button#logout:hover {
    background-color: red;
}


#stats-box {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.stat-box {
    width: 30%;
    text-align: center;
}
.stat-box a {
    display: block;
}







/* ----- POSTS ----- */
#no-posts-msg {
    text-align: center;
    font-size: 18px;
}



/* Desktop size */
@media (min-width: 768px) {

    /* -- Profile info box -- */
    .profile-info-box {
        padding-top: calc(300px - 140px); /* Image height - vertical offset */
    }

    .profile-info-box img.profile-pic {
        width: 300px;
        height: 300px;
        top: -140px;
    }

    h1#displayname {
        font-size: 38px;
    }
    p#username {
        font-size: 28px;
    }

    button {
        font-size: 22px;
        height: 52px;
    }
    button>img {
        margin-right: 15px;
    }

    #bio {
        font-size: 22px;
    }
    
    #stats-box {
        font-size: 22px;
    }

    #profile-box {
        max-width: 1440px;
    }

    
}