@import url('header.css');

body{
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
}
.profile_pic{
    margin-top: 5%;
    margin-bottom: -30px;
    border-radius: 100%;
    height: 250px;
    width: 250px;
}
.username{
    font-size: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    padding: 1px;  
}
.grid-container div {
    padding: 20px;
    text-align: center;
}
.grid-container img{
    height: 115px;
    width: 115px;
}
@media only screen and (min-width: 700px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1px;
        padding: 1px;  
    }  
    .grid-container img{
        height: 500px;
        width: 500px;
    }
}
