@import url('header.css');

/* BODY */
body {
    background-color: #f0f0f0;
}

h1 {
    font-size: 30px;
}

/* Search  */
.search-section {
    text-align: center;
    padding: 80px 20px;
}

.search-input {
    margin-bottom: 20px;
}

#searchField {
    padding: 10px;
    width: 65%;
    max-width: 880px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

#searchButton {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #a3b7be;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

#searchButton:hover {
    background-color: #8da8a9;
}

.results-list {
    margin-top: 20px;
    text-align: center;
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
}

.profile-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.profile-item:hover {
    background-color: #f9f9f9;
    transform: scale(1.02);
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.profile-name {
    font-weight: bold;
}

.post-count {
    color: #666;
    font-size: 14px;
}

/* PC justeringer */
@media (min-width: 768px) {
    .profile-info {
        flex-direction: row;
        align-items: center;
    }
}

/* Mobil justeringer (endringer på navbar posisjon og layout) */
@media (max-width: 768px) {
    .search-section {
        padding: 0;
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .profile-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-pic {
        margin: 0 0 10px 0;
    }

    .profile-info {
        align-items: center;
    }

    #searchField {
        width: 90%;
    }

    #searchButton {
        margin: 10px 0;
        width: 90%;
    }
}
