@import url('header.css');

/* BODY */
body {
    background-color: #f0f0f0;
}

/* Search  */
.search-section {
    margin-top: 60px;
    text-align: center;
    padding: 80px 20px;
}

.search-input {
    margin-bottom: 20px;
}

#searchField {
    padding: 10px;
    width: 65%;
    max-width: 880px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

#searchButton {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #a3b7be;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

#searchButton:hover {
    background-color: #8da8a9;
}

.results-list {
    margin-top: 20px;
    text-align: left;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.profile-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.profile-name {
    font-weight: bold;
}

.post-count {
    color: #666;
}

/* PC justeringer */
@media (min-width: 768px) {
}

/* Mobil justeringer (endringer på navbar posisjon og layout) */
@media (max-width: 768px) {
    .search-section {
        padding: 0;
        margin-top: 0;
    }

}
