@import url('header.css');
@import url('partials/post-3-list.css');
@import url('partials/dropdown.css');


/* BODY */
body {
    background-color: #f0f0f0;
}

main {
    display: flex;
    justify-content: center;
}

#page {
    width: 100%;
}

hr {
    margin-bottom: 0;
}

#selectors {
    margin: 8px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.first-place { background-color: #d6af36 !important;}
.second-place { background-color: #d7d7d7 !important;}
.third-place { background-color: #a77044 !important;}

.spot-indicator {
    position: absolute;
    top: 6%;
    left: 5%;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #e99f63;
    box-shadow: 0px 0px 22px #00000036;
    width: 4vw;
    max-width: 40px;
    height: 4vw;
    max-height: 40px;
    font-size: 2.25vw;
    font-weight: bold;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Desktop only */
@media (min-width: 768px) {
    #page {
        max-width: 1440px;
    }

    h1 {
        margin: 40px 0;
    }

    #selectors {
        gap: 20px;
    }
}

/* Medium wide */
@media (min-width: 1000px) {

    .spot-indicator {
        font-size: 25px !important;
    }
}