@import url('header.css');
@import url('partials/post-3-list.css');
@import url('partials/dropdown.css');


/* BODY */
body {
    background-color: #f0f0f0;
}

main {
    display: flex;
    justify-content: center;
}

#page {
    width: 100%;
}

hr {
    margin-bottom: 0;
}

#selectors {
    margin: 8px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}


/* Desktop only */
@media (min-width: 768px) {
    #page {
        max-width: 1440px;
    }

    h1 {
        margin: 40px 0;
    }

    #selectors {
        gap: 20px;
    }
}
