div.comment {
    box-shadow: 5px 10px 18px #b8b8b836;
    padding: 10px 12px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
    display: flex;
    column-gap: 10px;
    overflow: scroll;
    max-height: 300px;
}
.comment p {
    margin: 0;
    font-size: 16px;
}
.comment a {
    text-decoration: none;
    color: black;
}
.comment .time {
    color: gray;
    font-size: 14px;
}


.comment .sect2 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.comment .sect2 p {
    display: inline;
}

.comment .sect2 .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

