/* partials/header.css */

/* NAVBAR/HEADER & LOGO */
nav {
    display: flex;
    justify-content: center;
    background-color: #a3b7be;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
}


#logo-pagename {
    height: 100px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
#logo-pagename img {
    height: 100%;
}
#logo-pagename p {
    color: #11212c;
    font-size: 30px;
    display: inline;
    margin: 0;
}

.nav-icons {
    display: flex;
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 160px;
    height: 60px;
}

.nav-item img {
    width: 30px;
    height: 30px;
    display: block;
}

/* Red color for current page */
.red-item .nav-text {
    color: red;
    font-weight: bold;
}
.red-item img {
    filter: invert(14%) sepia(90%) saturate(7190%) hue-rotate(357deg) brightness(111%) contrast(119%);
}




.nav-text {
    display: inline-block;
    font-size: 22px;
    color: black;
    margin-left: 10px;
}

/* Only on desktop */
@media (min-width: 768px) {
    .nav-item:hover {
        background-color: #c1d6de;
        border-radius: 30px;
    }
}

/* Only on small screens */
@media (max-width: 1000px) {
    #logo-pagename p {
        display: none;
    }
}


/* Only on mobile */
@media (max-width: 768px) {
    nav {
        position: fixed;
        bottom: 0;
        top: initial;
    }
    .navbar-container {
        width: 95%;
    }
    
    .nav-icons {
        justify-content: space-between;
        width: 100%;
        height: 80px;
    }
    .nav-item {
        width: 80px;
        height: 80px;
    }
    .nav-item img {
        height: 45px;
        width: 45px;
    }
    #logo-pagename {
        display: none;
    }
    .nav-text {
        display: none;
    }
}
