<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drawing</title>
    <link href="/res/css/draw.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div class="field">
         <!-- Container for the stacked canvases -->
         <div class="canvas-container">
              <!-- BasisCanvas fra database -->
              <img src="/api/img/basiscanvas/?id={{ .BasisCanvas.BasisCanvasId }}"
                                alt="Basis Canvas {{ .BasisCanvas.BasisCanvasId }}"
                                class="basis-canvas-img"
                                id="basis"
                                data-basis-canvas-id="{{ .BasisCanvas.BasisCanvasId }}">

              <!-- Interaktiv tegne canvas -->
              <canvas id="canvas"></canvas>
         </div>

        <div class="tools">

            <!--Reset og angre knapper-->
            <button onClick="undo_last()" type="button" class="button">Undo</button>
            <button onClick="clear_canvas()" type="button" class="button">Clear</button>

            <!-- Colo-picker og størrelse på verktøy -->
            <img id="color-picker-icon" src="/res/img/color-picker.png" alt="Color Picker" class="tool-icon">
            <input onInput="draw_color = this.value" type="color" id="color-picker" class="hidden">
            <input type="range" min="1" max="100" class="pen-range"
            onInput="draw_width = this.value">

            <!-- Nedlasting på pc eller lagring til databsaen -->
            <img id="save-as-png-btn" src="/res/img/download.png" alt="Save as PNG" class="tool-icon">
            <img id="save-to-database-btn" src="/res/img/deliver-icon.png" alt="Save to Database" class="tool-icon">
        </div>
    </div>
    
</body>

<script src="/res/js/draw.js"></script>
</html>
