<!DOCTYPE html>
<html>
<head>
    <title>RapidArt</title>
    <link rel="stylesheet" href="/res/css/global.css">
</head>
<body>
    <h1>RapidArt</h1>
    <p>Welcome to RapidArt, {{.Name}}! You are {{.Age}} years old, so you are old enough to use this site!</p>
</body>
</html>