<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rapidart - Front page</title>
    <link href="/res/css/index.css" type="text/css" rel="stylesheet"/>
    <link href="/res/css/global.css" type="text/css" rel="stylesheet"/>
    <script src="/res/js/common.js" defer></script>
</head>
<body>
   {{ template "header" . }}

   <main>
        <!-- Daglige basis lærret -->
        <section class="daily-lines">
            <h2>Choose a Basis Canvas</h2>
            <div class="lines-box">
                {{ range .BasisCanvases }}
                    <a href="/drawing/?line={{ .BasisCanvasId }}" class="line-item">
                        <img src="/api/img/basiscanvas/?id={{ .BasisCanvasId }}" alt="Line {{ .BasisCanvasId }}">
                    </a>
                {{ else }}
                    <p>No basis canvas available.</p>
                {{ end }}
            </div>
        </section>

        <!-- Recent follows posts -->
        <section class="feed">
            <h2>Recent drawings by people you follow</h2>
            <div class="feed-container">
                {{ range .RecentFollowsPosts }}
                <div class="feed-item">
                    <a href="/post/{{ .PostId }}">
                        <img src="/api/img/post/?post_id={{ .PostId }}" alt="Post {{ .PostId }}">
                    </a>
                    <p class="like-count">Likes: {{ .LikeCount }}</p>
                </div>
                {{ else }}
                <p>No posts available.</p>
                {{ end }}
            </div>
        </section>

        <!-- Recent posts -->
        <section class="feed">
            <h2>Recent drawings</h2>
            <div class="feed-container">
                {{ range .RecentPosts }}
                <div class="feed-item">
                    <a href="/post/{{ .PostId }}">
                        <img src="/api/img/post/?post_id={{ .PostId }}" alt="Post {{ .PostId }}">
                    </a>
                    <p class="like-count">Likes: {{ .LikeCount }}</p>
                </div>
                {{ else }}
                <p>No posts available.</p>
                {{ end }}
            </div>
        </section>
    </main>

</body>
<script src="/res/js/frontpage.js"></script>
</html>
