<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post by {{.Poster.Displayname}}</title>
    <link href="/res/css/post.css" type="text/css" rel="stylesheet"/>
    <link href="/res/css/comment.css" type="text/css" rel="stylesheet"/>
    <link href="/res/css/global.css" type="text/css" rel="stylesheet"/>
    <!-- Hidden data to be accessed by js -->
    <script>
        const pageInfo = {
            post_id: {{.Post.PostId}}
        }
    </script>
</head>
<body>
   {{ template "header" . }}

    <main>
        <section class="post">

            <div id="top-info">
                <a id="post-user-img-wrapper" href="/profile/{{.Poster.Username}}">
                    <img id="post-user-img" class="profile-pic-mini" src="/api/img/user/profile-pic/?userid={{.Poster.UserId}}">
                </a>
                <div id="names">
                    <a href="/profile/{{.Poster.Username}}" id="displayname">{{.Poster.Displayname}}</a>
                    <a href="/profile/{{.Poster.Username}}" id="username">@{{.Poster.Username}}</a>
                </div>

                
            </div>

            <div id="post-img-wrapper" class="noselect" title="Click and hold to view basis canvas">
                <img id="post-img" src="/api/img/post/?post_id={{.Post.PostId}}" alt="Post image" class="post-image">
                <img id="post-basis-canvas" src="/api/img/basiscanvas/?id={{.BasisCanvas.BasisCanvasId}}" alt="Basis Canvas" class="post-image hide">
            </div>


            <div id="bottom-info">
                <div id="interaction-bar">
                    
                    {{if .HasLiked}}
                    <div id="like-wrapper" data-liked="1" title="Unlike this post">
                        <img id="interaction-icon-like" class="interaction-icon" src="/res/icon/heart-fill-red.svg">
                        <p id="like-count" class="red bold">{{.LikeCount}}</p>
                    </div>
                    {{else}}
                    <div id="like-wrapper" data-liked="0"  title="Like this post">
                        <img id="interaction-icon-like" class="interaction-icon" src="/res/icon/heart.svg">
                        <p id="like-count">{{.LikeCount}}</p>
                    </div>
                    {{end}}

                    <a href="#new-comment-msg" id="comment-wrapper" title="Comment" >
                        <img id="interaction-icon-comment" class="interaction-icon" src="/res/icon/chat-fill.svg">
                        <p id="comment-count" class="bold">{{len .Comments}}</p>
                    </a>

                    <div id="share-wrapper" title="Share">
                        <img id="interaction-icon-share" class="interaction-icon" src="/res/icon/share-fill.svg">
                    </div>
                </div>

                <!-- Caption -->
                <div id="caption">
                    <p><a href="/profile/{{.Poster.Username}}"><b>{{.Poster.Displayname}}</b></a>: {{.Post.Caption}}</p>
                </div>

                <hr>

                <!--Comments -->
                <h3>Comments</h3>

                <div class="comment">
                    <a href="/profile/{{.LoggedInUser.Username}}">
                        <img class="sect1 profile-pic-mini commenter-pic" src="/api/img/user/profile-pic/?userid={{.LoggedInUser.UserId}}">
                    </a>
                    <div class="sect2">
                        <div class="top">
                            <a href="/profile/{{.LoggedInUser.Username}}"><b>You</b></a>
                        </div>
                        <div class="bottom">
                            <textarea id="new-comment-msg" class="comment" placeholder="Add a comment..."></textarea>
                            <button id="new-comment-btn" class="post-comment" title="Post your comment">Comment</button>
                        </div>
                    </div>
                </div>

                <!-- posted comments -->
                <div id="comments">
                    
                </div>
            </div>
        </section>
    </main>

    <script src="/res/js/post.js"></script> <!-- Link to the JavaScript file -->
</body>
</html>
