<!DOCTYPE html>
<html>
    <head>
        <title>{{.User.Displayname}} profile</title>
        <link rel="icon" href="/res/css/a_logo.ico">
        <link rel="stylesheet" href="/res/css/profile.css">
        <link rel="stylesheet" href="/res/css/global.css">
        <script src="/res/js/profile.js" defer></script>
        <script src="/res/js/common.js" defer></script>
    </head>
    <body>
        {{ template "header" . }}

        <main>
            {{if .IsSelf}}
            <a href="" id="logout">Log out</a>
            {{end}}

            <div id="pic_name">
                <img src="/api/img/user/profile-pic/?userid={{.User.UserId}}" class="profile_pic">
                <h3 class="username">{{.User.Displayname}}'s profile</h3>
            </div>
            <div class="grid-container">
                <div class="item1"><img src="../res/img/tmp.png"></div>
                <div class="item2"><img src="../res/img/tmp.png"></div>
                <div class="item3"><img src="../res/img/tmp.png"></div>
                <div class="item4"><img src="../res/img/tmp.png"></div>
                <div class="item5"><img src="../res/img/tmp.png"></div>
                <div class="item6"><img src="../res/img/tmp.png"></div>
                <div class="item7"><img src="../res/img/tmp.png"></div>
                <div class="item8"><img src="../res/img/tmp.png"></div>
            </div>
        </main>
    </body>
</html>