<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top List</title>
    <link href="/res/css/toplist.css" type="text/css" rel="stylesheet"/>
    <link href="/res/css/global.css" type="text/css" rel="stylesheet"/>
    <script src="/res/js/common.js" defer></script>
    <script src="/res/js/toplist.js" defer></script>
    <script src="/res/js/dropdown.js" defer></script>
</head>
<body>
    {{ template "header" . }}

    <main>
        <div id="page">
            <h1 class="text-center">Top 30 List</h1>


            <div id="selectors">
                <div class="dropdown" id="dropdown-type">
                    <p class="dropdown-btn noselect" id="dropdown_type-btn">
                        Top posts
                        <img class="dropdown-icon" src="/res/icon/caret-down-fill.svg">
                    </p>

                    <div class="dropdown-options hide">
                        <a href="#" class="selected" data-val="top-posts">
                            Top posts
                            <img class="dropdown-icon" src="/res/icon/check-lg.svg">
                        </a>
                        <a href="#" data-val="top-users">Top users</a>
                    </div>
                </div>
                
                <div class="dropdown" id="dropdown-basiscanvas">
                    <p class="dropdown-btn noselect" id="dropdown_basiscanvas-btn">
                        All basiscanvases
                        <img class="dropdown-icon" src="/res/icon/caret-down-fill.svg">
                    </p>

                    <div class="dropdown-options hide">
                        <a href="#" class="selected" data-val="all">
                            All basiscanvases
                            <img class="dropdown-icon" src="/res/icon/check-lg.svg">
                        </a>
                        {{$j := 0}}
                        {{range .BasisCanvases}}
                        {{$j = add $j 1}}
                        <a class="dropdown-opt" href="#" data-val="{{.BasisCanvasId}}"><img alt="Basis canvas {{$j}}" src="/api/img/basiscanvas/?id={{.BasisCanvasId}}"></a>
                        {{end}}
                    </div>
                </div>
                <div class="dropdown" id="dropdown-since">
                    <p class="dropdown-btn noselect" id="dropdown_timerange-btn">
                        Last day
                        <img class="dropdown-icon" src="/res/icon/caret-down-fill.svg">
                    </p>

                    <div class="dropdown-options hide">
                        <a href="#" data-val="hour">Last hour</a>
                        <a href="#" class="selected" data-val="day">
                            Last day
                            <img class="dropdown-icon" src="/res/icon/check-lg.svg">
                        </a>
                        <a href="#" data-val="week">Last week</a>
                        <a href="#" data-val="month">Last month</a>
                        <a href="#" data-val="year">Last year</a>
                        <a href="#" data-val="all">All time</a>
                    </div>
                </div>

                <div class="dropdown hide" id="dropdown-usersby">
                    <p class="dropdown-btn noselect" id="dropdown_timerange-btn">
                        By most likes
                        <img class="dropdown-icon" src="/res/icon/caret-down-fill.svg">
                    </p>

                    <div class="dropdown-options hide">
                        <a href="#" class="selected" data-val="likes">
                            By most likes
                            <img class="dropdown-icon" src="/res/icon/check-lg.svg">
                        </a>
                        <a href="#" data-val="followers">By most followers</a>
                    </div>
                </div>
            </div>

            <hr>

            <div id="results">
                <!-- The toplist results appear here -->                
            </div>
        </div>
    </main>
</body>
</html>
