<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top List</title>
    <link href="/res/css/toplist.css" type="text/css" rel="stylesheet"/>
    <link href="/res/css/global.css" type="text/css" rel="stylesheet"/>
    <script src="/res/js/common.js" defer></script>
    <script src="/res/js/toplist.js" defer></script>
</head>
<body>
    {{ template "header" . }}

    <main>
        <div id="page">
            <h1 class="text-center">Top List</h1>

            <hr>

            <div id="selectors">
                <div class="dropdown">
                    <p class="dropdown-btn noselect" id="dropdown_type-btn">Top posts</p>

                    <div class="dropdown-options">
                        <a href="#">Top posts</a>
                        <a href="#">Top users</a>
                    </div>
                </div>
                
                <div class="dropdown">
                    <p class="dropdown-btn noselect" id="dropdown_basiscanvas-btn">All basiscanvases</p>

                    <div class="dropdown-options">
                        <a href="#">All basiscanvases</a>
                        {{range .BasisCanvases}}
                        <a href="#"><img src="/api/img/basiscanvas/?id={{.BasisCanvasId}}"></a>
                        {{end}}
                    </div>
                </div>
                <div class="dropdown">
                    <p class="dropdown-btn noselect" id="dropdown_timerange-btn">Last day</p>

                    <div class="dropdown-options">
                        <a href="#">Last hour</a>
                        <a href="#">Last day</a>
                        <a href="#">Last week</a>
                        <a href="#">Last month</a>
                        <a href="#">Last year</a>
                        <a href="#">All time</a>
                    </div>
                </div>
            </div>

            <div class="post-container">
                {{range .TopPosts}}
                <div class="post">
                    <a href="/post/{{.PostId}}">
                        <img src="/api/img/post/?post_id={{.PostId}}">
                    </a>
                </div>
                {{end}}
            </div>
        </div>
    </main>
</body>
</html>
